# XARGS
CONFIG_BUSYBOX_DEFAULT_FEATURE_XARGS_SUPPORT_REPL_STR=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_XARGS_SUPPORT_PARALLEL=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_XARGS_SUPPORT_ARGS_FILE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_REPL_STR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_PARALLEL=y
CONFIG_BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_ARGS_FILE=y

# FIND
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_AMIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_ATIME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_CMIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_CTIME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_DELETE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_EMPTY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_EXECUTABLE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_EXEC_OK=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_EXEC_PLUS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_INUM=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_LINKS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_QUIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_SAMEFILE=y
CONFIG_BUSYBOX_CONFIG_FINDFS=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_AMIN=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_ATIME=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_CMIN=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_CONTEXT=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_CTIME=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_DELETE=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_EMPTY=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_EXECUTABLE=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_EXEC_OK=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_EXEC_PLUS=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_INUM=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_LINKS=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_QUIT=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_SAMEFILE=y
CONFIG_BUSYBOX_DEFAULT_FINDFS=y